rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // This rule allows a user to read and write any documents
    // inside their own user folder (e.g., /users/some-user-id/...)
    // It denies access to anyone else.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
